.container-fluid{ background-color: #f7f5f9;}

ul, li {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.Dashboard {
    font-size: 11px;
    
   
    line-height: 1.18;
    
    text-align: center;
    color: #6979f8;
  }


  .Business-Rules {
    font-size: 11px;
  
    line-height: 1.18;
    text-align: center;
    color: #6979f8;
  }

  h4 {
    width: 156px;
    height: 28px;
    font-family: Avenir;
    font-size: 22px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #1a051d;
  }

  mat-card-title {
    width: 86px;
    height: 22px;
    font-family: Avenir;
    font-size: 17px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1a051d;
  }

  .card-bg{
       background-color: white;
  }

  mat-card-content {
    width: 173px;
    height: 16px;
    font-family: Avenir;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #a099a6;
  }